*{
    margin: 0px;
    border: 0;
    padding: 0;
    text-decoration: none;
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

/* Header and nav bar */
header {
    background-color: whitesmoke;
    padding: 15px;
    text-align: center;
    
}
.contact-top{
    display: flex;
    justify-content: space-around;
}
.top-bar{
    height: 250px;
    background-color: #138EFF;
    background-image: url(../images/cool-background.png);
    background-size: cover;
}

/* About Me section */

.flex-container{
    margin: 3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.flex-container p{
    max-width: 800px;
    padding-left: 15px;
    border-left:  5px solid #138EFF;
}

/*  Main Project Section */

#projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recent-project{
    border-radius: 15px;
    padding: 20px;
    background-color:  #138EFF;
    text-align: center;
    align-items: center;
}

.recent-project img{
    max-width: 500px;
}

/* Other Project */

.other-projects{
    display: flex;
    justify-content: space-evenly;

}

.misc-project {
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    min-width: 20em;
    height: 200px;
    background-color: #138EFF;
    text-align: center;
}

.misc-project img{
    max-width: 250px;
}

@media (max-width: 1276px) {
    .flex-container p{
        max-width: -50%;
    
    }
   
}
